<%- include("./partials/admin-header") -%>
    <div class="search-container">
        <form action="/admin-search" method="post">
        <input type="text" class="searchTerm" name="search_ch" id="search_ch" placeholder="search">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Category</th>
            <!-- <th scope="col">Subject</th> -->
            </thead>
            <tbody>
                <% report.forEach(function(element){ %>
                <tr>
                    <td scope="row"><%=element.guestID%></td>
                    <td ><%=element.category%></td>
                    <td ><%=element.subject%></td>
                </tr>
                <%}) %>
            </tbody>
        </table>
    </div>
<%-include("./partials/footer")-%>
